# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

- List popular languages for Data Science
- Highlight commonly used libraries in Data Science
- Introduce Data Science tools and ecosystems
- Demonstrate basic arithmetic operations in Python
- Convert units using Python expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn

| Data Science Tools |
| ------------------- |
| Jupyter Notebooks   |
| RStudio             |
| VS Code + Jupyter Extension |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Combaz-Deville